@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Estilização padrão do site */

html {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    background-color: whitesmoke;
}

button[type="submit"] {
    background: linear-gradient(to right, rgba(5, 17, 23, 0.68), #46748F);
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 24px;
    margin-top: 40px;
    cursor: pointer;
}

button:disabled {
    opacity: 75%;
    cursor: not-allowed;
}

button:enabled {
    opacity: 100%;
}

input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
}



a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}


th,
td {
    text-align: center;
    padding-right: 5px;
    padding-top: 5px;
}

label {
    background: linear-gradient(to right, rgba(5, 17, 23, 0.68), #46748F);
    border-radius: 6px;
    padding: 5px;
    right: 25px;
    bottom: 5px;
    position: relative;
}

.container {
    background-color: rgba(0, 0, 0, .75);
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -1em 0px 4em -1em black;
}

.header {
    position: relative;
    text-align: center;
    padding: 10px 29px;
    border-radius: 5px;
    background: #46748F;
    margin-top: 20px;
    color: white;
    user-select: none;
}

#login-container .header {
    /* background: linear-gradient(to right, rgba(5, 17, 23, 0.68), #46748F); */
    background: none;
    font-size: 1.5em;
}

#error {
    color: red;
    font-size: 1em;
    margin-top: 1em;
    display: none;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.fa-envelope {
    padding: 10px;
    min-width: 40px;
    top: 38px;
}

.fa-lock {
    padding: 10px;
    min-width: 40px;
    top: 109px;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    padding: 10px;
    min-width: 40px;
    top: 109px;
    right: 0px;
    cursor: pointer;
    opacity: 75%;
}

#hidePasswordButton {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* Estilização da página inicial */

.content {
    position: absolute;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: 10vw;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #46748F;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #46748F;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #46748F;
    clip-path: circle(35vw at right 100vh);
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .content {
        width: 50vw;
        font-size: 1em;
        margin: 10vw;
    }
}

/* Estilização do login */

.loginBody {
    background-image: url('imagens/home-page/foto2.jpg');
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.login-form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.login-input {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    font-size: 16px;
}

#login-container {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#signin {
    left: 25px;
}

/* Estilização portal */

#portal-container {
    width: 95%;
    height: 80%;
    overflow: auto;
    top: 14%;
    left: 2.5%;
    position: relative;
    overflow: auto;
    background-color: whitesmoke;
    transition: ease-in-out 0.3s;
}

#info-task {
    z-index: 1;
    position: fixed;
    overflow: auto;
}

#floating-container {
    box-shadow: none;
    background-color: rgba(5, 17, 23, 0.68);
    position: fixed;
    top: 25%;
    height: 65%;
    transition: ease-in-out 0.3s;
}

/*Atividades*/

.task {
    margin-top: 1%;
    max-width: 100%;
}

.task-table {
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25),
        0 0 10px rgba(0, 0, 0, 0.25),
        0 0 10px rgba(0, 0, 0, 0.25),
        0 0 10px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1.3em;
    max-width: 100%;
    max-height: fit-content;
}

.task-table td {
    max-width: 16em;
    overflow: auto;
}

.task-table td::-webkit-scrollbar {
    display: none;
}

.task-form-group {
    margin: 1em;
    width: 100%;
}

.form-control {
    display: block;
    border: none;
    border-radius: 6px;
    outline: none;
    width: 100%;
    min-height: 2em;
}


#tasks-container,
#tasks-container-teacher,
#tasks-container-student,
#tasks-container-representative {
    position: relative;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    overflow: auto;
    box-shadow: none;
}

#tasks-container-teacher .container,
#tasks-container-student .container,
#tasks-container-representative .container {
    background: transparent;
    border: transparent;
}

#tasks-container form {
    width: 80%;
}

#tasks-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    width: 75%;
}

#tasks-container ul li {
    color: black;
    font-size: 1.5em;
    margin-top: 1em;
    max-width: 75%;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#tasks-container span.label {
    font-weight: bolder;
    margin-bottom: 0.5em;
    background-color: #46748F;
    border-radius: 5px;
    padding: 5px;
    max-width: fit-content;
}

#tasks-container a {
    color: red;
}

#tasks-container span {
    max-width: 100%;
    overflow: auto;
}

#calendar,
#create-task,
#edit-task,
#mathematics,
#portuguese,
#physical-education,
#biology,
#physics,
#chemistry,
#english,
#art,
#philosophy,
#sociology,
#advanced-topics {
    width: 100vw;
    height: 100vh;
    display: none;
}

#info-task {
    display: none;
}

.fa-down-left-and-up-right-to-center{
    margin-left: 95%;
    margin-top: 2%;
}

#tasks-container-teacher,
#tasks-container-student,
#tasks-container-representative,
#create-task,
#create-task-li {
    display: none;
}

.edit-button,
.delete-button,
.accept-button,
.decline-button,
.info-button {
    display: none;
}

/*Página inicial*/

#home-page {
    width: 100vw;
    height: 100vh;
}

.home-page-image {
    width: 100%;
    height: 30em;
}

.home-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
}

.text {
    margin-top: 1em;
    background-color: whitesmoke;
    padding: 0.5em;
    width: 100%;
    border: 0.3em solid #46748F;
    left: 150px;
}

.text h2 {
    text-align: center;
}

.text p {
    text-indent: 1em;
}

/*Calendário*/

.month {
    padding: 70px 25px;
    width: 100%;
    background: #46748F;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style: none;
}

.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    width: 100%;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 2em;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    width: 100%;
    height: 100%;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    color: black;
}

.days li .active {
    padding: 5px;
    background: #46748F;
    color: white !important
}

/* Estilização da header do Portal */
#portal-header {
    position: absolute;
    background-color: #46748F;
    width: 100%;
    height: 8%;
    top: 0px;
    left: 0px;
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
}

.sidebar-btn {
    background-color: rgba(0, 0, 0, 0);
    font-size: 2em;
    cursor: pointer;
    color: white;
    border: none;
}

#profile-options {
    float: right;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

#profile-options p {
    margin: 0;
    text-align: right;
}

#profile-options #occupation {
    color: lightgreen;
}

#profile-options img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1.4em;
    cursor: pointer;
}

#profile-options p {
    color: white;
    margin-right: 0.2em;
}

#options {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-right: 0.4em;
}

#options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#options li {
    padding: 10px;
}

#options li:hover {
    background-color: rgba(136, 136, 136, 0.75);
}

#options a {
    text-decoration: none;
    color: #333;
}

/* Estilização da Barra Lateral */

#sidebar-container {
    position: absolute;
    width: 0px;
    height: calc(100vh - 16%);
    top: 12%;
    left: -0.6%;
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
    transition: 0.5s;
    opacity: 0%;
    background-color: rgba(0, 0, 0, .75);
}

.sidebar-items {
    width: 100%;
    overflow: auto;
}

/* Esconder scrollbar para Chrome, Safari and Opera */
.sidebar-items::-webkit-scrollbar {
    display: none;
}

/* Esconder scrollbar para IE, Edge and Firefox */
.sidebar-items {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar-items ul {
    list-style: none;
}

.sidebar-items li {
    margin-top: 6%;
    padding: 6%;
    color: white;
    font-weight: bolder;
    font-size: 115%;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.9s;
}

.sidebar-items li:hover {
    background-color: rgba(136, 136, 136, 0.75);
}